ici login

<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/register">REGISTER</a></li>
</ul>

<form action="/login" method="post">
    <input type="email" name="email" id="email">
    <input type="password" name="password">
    <input type="submit" value="send">
</form>
