<%- include('header') %>

<form action="/register" method="post">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="text" name="lastName" placeholder="Nom">
    <input type="text" name="firstName" placeholder="Prénom">
    <input type="text" name="password" placeholder="Mot de passe">
    <input type="text" name="photoProfil" placeholder="Photo de profile">
    <input type="submit" value="send">
</form>